.header {
	margin-top: 1rem;
	padding: 16px 24px;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.headerContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

.backButton {
	align-self: flex-start;
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	padding: 0;
	display: flex;
	align-items: center;
	transition: color 0.2s;
	margin-right: 16px;
}

.backButton:hover {
	text-decoration: underline;
}

.gameInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
	flex-grow: 1;
}

.title {
	margin: 0;
	font-size: 1.8rem;
	font-weight: bold;
	color: black;
}

.meta {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
}

.date {
	color: black;
	font-size: 0.9rem;
}

.status {
	font-size: 0.8rem;
	padding: 4px 8px;
	border-radius: 4px;
	color: black;
	font-weight: bold;
}

.totalPot {
	font-weight: bold;
	color: #e1a610;
}
