.mainGameContainer {
	padding: 1rem;
}

.gameContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	margin-top: 2rem;
}

.errorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #0a1c28;
	color: #f0f0f0;
}

.button {
	background-color: #c52c2c;
	color: white;
	border: none;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.button:hover {
	background-color: #d44343;
}
