.header {
	width: 100%;
	margin-bottom: 1.5rem;
	padding: 1rem 1.5rem;
	box-sizing: border-box;
}

.headerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.headerLeft {
	display: flex;
	flex-direction: column;
}
.headerRight {
	display: flex;
	align-items: right;
}

.welcomeText {
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 2;
	color: #111111;
	margin-bottom: 0.5rem;
}

.subtitle {
	margin-top: 0.25rem;
	font-size: 1rem;
	color: #555555;
	margin-bottom: 0;
}

.headerButtons {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	transition: scale 0.3s ease-in-out;
}

.buttonIcon {
	margin-right: 0.5rem;
	height: 1rem;
	width: 1rem;
}

.mainContainer {
	padding: 1rem;
}

.mainContent {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

.quickStatsSection {
	margin-bottom: 0.5rem;
}

.recentGamesSection {
	grid-column: span 1;
}

.quickAccessSection {
	grid-column: span 1;
}
